<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <title>Profile</title>
</head>
<body>
<header class="primary-header flex">
    <div style="width: 75px; object-fit: scale-down;"><img src="/images/greenAI.png"></div>
    <nav style="margin: auto">
        <ul class="primary-navigation underline-indicators flex">
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/index.html">Home</a></li>
            <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/aboutus">About Us</a></li>
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/explore">Explore</a>
            </li>
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/wishlists">My Wishlists</a></li>
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/profile">My Profile</a></li>
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/login">Login/Signup</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col" style="text-align: center; margin-top: 3rem; padding-bottom: 4rem">
            <h1 class="text-accent fs-500 ff-sans-cond uppercase">Here at Video Universe, we absolutely LOVE
                movies. </h1> <br>
            <p>As one of the last brick & mortar video stores in the country, we believe that in-person movie rental
                is an experience that is too valuable to lose, and we pride ourselves on our ability to continue to
                bring that experience to our community.</p><br>

            <p> Some of our fondest memories as lifelong movie fans involve walking up and down the aisles of our
                local mom & pop video shop, finding a movie title or cover art that grabs us, and building weekend
                plans around watching our selections.</p><br>

            <h2 class="text-accent fs-400 ff-sans-cond uppercase">That nostalgia is so important to us that we want
                to share the magic of that experience with you.</h2><br>
            <p>Sure, you could just plop down on your couch and scroll endlessly through Netflix, but we believe
                that there is something special to be experienced by flipping through DVD cases to find hidden gems or
                rummaging through
                stacks of VHS tapes that you simply won't find on any streaming platform.</p> <br>

            <p>Plus, we offer a variety of your favorite movie concessions conveniently located right next to our
                checkout counter. </p><br><br>
        </div>

        <div class="col" style="text-align: center; margin-top: 10rem; ">
            <img src="https://lh3.googleusercontent.com/DJWmcjhfWGmBLE3s4up_rnnVjcY8idvw3NyRKc8HtCN9WwX-CC3Rw4Nsjimtdl0pH1Nwfy0gWimTNTAL_tPpL6eNDkdRHbGth5ux2eh6h9JQk1LgccTthjMMnCYA8E6yaXUJvPU3bMQxCNlsGA9wSpnh1lDMY6BPxdN6Sc0Ap_erGNnOXBeC9gL53M0-3ywmDULgvsWZBaOt_NzwQ2Ytmju71OXOWfV6xkbbsRLLFZ5Igl_W3H5Yd5mkxqAxKaS2xa4ePCZj_PtOvukWffD_4t_LKsrOQXXLf-QdSEEir7JCJMbHg0rrqvqo4TU_in5mHZDk7QkOufZYucvm9mFZHOo0pWY1QtNKxcf1z-eBmTYlYPqLZGUZ9g2yxSV76BBh4YMgIu8WtVrg-CJs7wXadKBuh3YonJj6zsKUdsmhQEFh6sAC69QiqEDo9awAMEOzDdD9n6EmNEVL29e_sbtKtIju8-_nujkKsyfrF8zrYVcWhbWWTsyv1pjCI4Exs4l8LpXUbGNoqly21L5U3idDzfXeq4DoqZJNy6Op_lxgBggqzBo46dETKsYfyM-MdkKj1JzYjtuR1WtR6L6rpPYU1MNoabZnyrekWPOJEerF4I6ByjHMnmrYNlaULeih4R79lFdh2ZigxsS3RG_LJ0M9kNgdIfmt1qMwMkkqSMZPl7zorCD-v2M0ozUkic9doJbfMJ8Nr9wiA4E83XNLbthDqUb55Q7ZMcZsh04266sTAwfRE1Rxa2bTgPmC-fXfWg=w1078-h937-no?authuser=0"
                 style="width: auto; height: 600px;">
        </div>

    </div>
    <div class="row">
        <div class="map col" style="margin-bottom: 3rem">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.6899188323305!2d-93.33845268424382!3d45.03121977024996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b331599cd1e0bf%3A0xb75bf30227fa33b5!2sVideo%20Universe!5e0!3m2!1sen!2sus!4v1648733735784!5m2!1sen!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="login-box" class="bg-accent col"
             style="display: inline-block; text-align: center; padding-right: 3rem;">
            <h1 class="text-dark fs-400 ff-sans-cond uppercase">
                Come check us out any time!<br>Our hours are:
            </h1>
            <ul class="text-dark" style="list-style-position: inside">
                <li>Mon - Thurs: 9:30am - 10:30pm</li>
                <li>Friday: 9:30am - 11pm</li>
                <li>Saturday: 10am - 11pm</li>
                <li>Sunday: 10am - 10:30pm</li>
            </ul>
            <h1 class="text-dark fs-400 ff-sans-cond uppercase">Give us a call at:<br></h1>
            <p class="text-dark">(763) 536-9932</p><br>
            <h1 class="text-dark fs-400 ff-sans-cond uppercase">Our address is:<br></h1>
            <p class="text-dark">4114 Lakeland Ave N<br>
                Robbinsdale, MN<br>
                55422-1832<br>
                Located In Robin Center</p>
        </div>


    </div>
</div>
</body>
</html>